/* @import "fonts/Cormorant_Garamond/stylesheet.css"; */

header {
    position: fixed;
    width: 100%;
    background-color: #576ad2;
    z-index: 1;
}

header a {
    float: left;
    display: block;
    text-decoration: none;
    margin: 1rem 2rem;
    font-family: cormorant_garamondregular, times;
    font-size:1.8rem;
    color: #000000;
}

header a:hover {
    opacity: 0.6;
}

.header_right{
    float: right;
}

.outside_header {
    margin: 0rem 3%;
}

